<h2>Contact Us</h2>
<form>
<fieldset>
    <div class="set1">
        <div class="form-box">
            <label>Name</label>
            <input type="text" id="name">
        </div>
        <div class="form-box">
            <label>Email</label>
            <input type="email" id="email">
        </div>
        <div class="form-box">
            <label>Subject</label>
            <input type="text" id="subject">
        </div>
    </div>
    
    <div class="set2">
        <div class="form-box">
            <label>Message</label>
            <textarea id="message"></textarea>
        </div>
    </div>
    
    <div class="form-btn">
        <input type="submit" value="Send Email">
    </div>
</fieldset>
</form>


<div class="feedback">
    
</div>