<div class="articles clearfix">
   
    <article>
        <h2>What Are GMOs</h2>
        <figure>
            <img src="./img/gmo.jpg" alt="Injection of Tomatoe">
        </figure>
        <p>Genetically modified organisms (GMOs) can be defined as organisms (i.e. plants, animals or microorganisms) in which the genetic material (DNA) has been altered in a way that does not occur naturally by mating and/or natural recombination. The technology is often called “modern biotechnology” or “gene technology”, sometimes also “recombinant DNA technology” or “genetic engineering”. It allows selected individual genes to be transferred from one organism into another, also between nonrelated species. Foods produced from or using GM organisms are often referred to as GM foods.</p>

        <p>The first GMO crop (the Flavr Savr tomato) was approved by the FDA in 1994. Since then, GE varieties of corn, soya, sugar beets and canola have become common local crops in Canada. In addition to locally produced crops, GE varieties of cottonseed oil, papaya, squash and milk products are imported from the USA into Canada. In a mere 20 years, GMO ingredients have made their way into most of the processed foods available on Canadian grocery shelves. Apples, potatoes and wheat are all in the lineup for approval.</p>

        <p>The food industry is also pushing to further expand the use of genetic engineering. A new form of salmon that is genetically altered to grow to maturity twice as fast as wild salmon is currently undergoing a safety review by the Food and Drug Administration. If approved, it would be the first genetically engineered animal to be marketed.</p>

        <p>The Department of Agriculture recently approved a potato that is genetically engineered to resist bruising and to have potentially lower levels of acrylamide, a suspected human carcinogen that the vegetable can produce when it is cooked at the high temperatures used to make potato chips and french fries.</p>

        <hr>
    </article>


    <article class="float-l">
        <h2>Pros of GM Foods</h2>
        <p>Scientists genetically engineer seeds for many reasons. GM Foods may:</p>

        <ul class="gmo-list">
            <li>Resist damage due to weather, like heat, frost or draught</li>
            <li>Grow more easily in some environments (like dry soil conditions)</li>
            <li>Produce more crop, helping to keep food prices lower</li>
            <li>Ripen slower and last longer during shipping</li>
            <li>Bruise less easily</li>
            <li>Need less pesticides (like herbicides and insecticides)</li>
            <li>Have less disease caused by insects or viruses</li>
        </ul>

        <p>They also engineer seeds to give GM foods stronger colors, increase their shelf life, or eliminate seeds. That’s why we can buy seedless watermelons and grapes. Some GM foods also have been engineered to have higher levels of specific nutrients, such as protein, calcium, or folate.</p>

        <p>Proponents of GM food contend that genetic engineering can help us find sustainable ways to feed people. Specifically, in countries that lack access to nutrient-rich foods. The heartiness of some GM crops makes it so they can grow in marginal environments. The longer shelf life of some GM foods allows them to be shipped to remote areas.</p>

        <hr>
    </article>


    <article class="float-r">
        <h2>Potential Cons of GM Foods</h2>
        <p>Some people wonder if GM foods are safe and healthy to eat. Those who support using GMOs point out that Americans have been eating foods containing them for more than 15 years and that there’s no credible evidence that people have been harmed. But saying there’s no evidence of harm isn’t the same as saying they’ve been proved safe.  Genetic engineering is a relatively new development. As a result, research on the long-term health effects of GM foods is limited.</p>

        <p>GM foods have to meet the same safety requirements as foods grown from non-GM seeds. But critics suggest there’s more to be concerned about. Some people worry that GM foods may be linked to allergies, antibiotic resistance, or cancer. MGOs have the potential to introduce toxins and new allergens (or increase levels of existing ones), or cause nutritional changes in foods and other unexpected effects.</p>

        <p>Animal studies—commonly used to help assess human health risks—have suggested that GMOs might cause damage to the immune system, liver, and kidneys. More studies are needed to determine long-term effects. And the ability of researchers to track potential health effects of GMOs in the human population is hampered by the absence of labeling.</p>

        <p>One main selling point for crops containing GMOs has been that they reduce the use of pesticides. The use of insecticides (which kill bugs) has declined since these crops were introduced in the mid-1990s, but the use of herbicides (which kill weeds) has soared. The majority of GMO crops grown are genetically engineered to be resistant to glyphosate, a weed killer better known as Roundup. Roundup is made by Monsanto, which also produces the seeds that enable crops to survive being doused with the herbicide. Since that technology was introduced in 1996, there has been almost a tenfold increase in the use of the herbicide. That in turn created an epidemic of super-weeds, which have quickly evolved to become immune to glyphosate. </p>
    </article>

</div>


